@import "../style/vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @font-face {
//   font-family: "Poppins";
//   src: url("../Fonts/Poppins/Poppins-Light.ttf");
//   font-display: swap;
// }
