$color_text_tittle: rgb(206, 255, 253);
$color_color_card: rgba(255, 255, 255, 0.5);
$link_footer_color: rgb(56, 183, 175);
$title_footer_color: rgb(244, 244, 244);
$title_footer_color2: rgb(244, 244, 244);

%card_box {
  max-width: 480px;
  width: 100%;
  min-height: 308px;
  border-radius: 16px;
  backdrop-filter: blur(24px);
  background: $color_color_card;
  padding: 32px;
}

%link_footer {
  color: $link_footer_color;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.75px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin flex($display, $direction, $row-gap) {
  display: $display;
  flex-direction: $direction;
  row-gap: $row-gap;
}
